<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-form-side></app-form-side>
      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-dark" (click)="showData()">Show Data</button><br>
      </div>
    </div>
    <div class="col-md-12">
      <!-- <app-counter></app-counter> -->
      <app-show-data [users]="users"></app-show-data>
    </div>

   
  <!-- <app-show-data [users]="users"></app-show-data> -->
   
  </div>
  
</div>

